* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --dark: #001527;
  --medium: #4191c0;
  --light: #fefeff;
  --blue: #0400ff;
}
:root {
  font-family: "Comic Sans", "Comic Sans MS";
}
main {
  display: flex;
  margin-bottom: 50px;
}
nav {
  min-width: 155px;
  padding: 0;
}
section {
  background-color: var(--light);
  flex-grow: 1;
  color: var(--dark);
}
h1 {
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
body {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  color: var(--light);
}
header {
  background-color: var(--medium);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.blue-font {
  color: var(--blue);
}
.main-page-tile {
  background-color: var(--medium);
  line-height: 2.5;
  border-bottom: 1px solid var(--light);
}
.main-page-tile:hover {
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
  background-color: var(--medium);
  color: var(--blue);
}
a {
  text-decoration: none;
  color: var(--light);
}
.left-text {
  font-size: 1rem;
  text-align: left;
}
